{% extends 'base.html.twig' %}

{% block title %}ItemBay - Mes comptes{% endblock %}

{% block body %}
    <div class="container text-white mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Mes comptes</h2>
            <button class="btn btn-sm btn-primary account-add">
                <i class="fas fa-plus"></i>
                Ajouter un compte
            </button>
        </div>
        <div class="account-list-container">
            {% include 'account/list_account.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        window.addEventListener('DOMContentLoaded', function () {
	        {% if app.user.activeAccount is defined and app.user.activeAccount is not null %}
                hideActiveAccount();
            {% endif %}
            addAccountsListeners();
            document.querySelectorAll('.account-add').forEach((element) => {
                element.addEventListener('click', async () => {
                    sidenav.open();
                    sidenav.setTitle('Ajouter un compte');
                    await sidenav.setContentFromUrl('/account/add');
                    sidenav.hideLoader();
                    refreshAccountList();
                });
            });
        })

        function addAccountsListeners() {
            document.querySelectorAll('.account-edit').forEach((element) => {
                element.addEventListener('click', async () => {
                    sidenav.open();
                    sidenav.setTitle('Modifier un compte');
                    await sidenav.setContentFromUrl('/account/edit/' + element.dataset.id);
                    sidenav.hideLoader();
                });
            });
            document.querySelectorAll('.account-delete').forEach((element) => {
                element.addEventListener('click', async () => {
                    sidenav.open();
                    sidenav.setTitle('Supprimer un compte');
                    await sidenav.setContentFromUrl('/account/delete/' + element.dataset.id);
                    sidenav.hideLoader();
                });
            });
            document.querySelectorAll('.account-activate').forEach((element) => {
                element.addEventListener('click', async (event) => {
                    if (!event.target.matches('.account-edit, .account-delete, .account-inventory')) {
                        let result = await apiFetch('/account/activate/' + element.dataset.id);
                        if (result.success) {
                            setInnerHTML(document.querySelector('.account-list-container'), result.data.html);
                            addAccountsListeners();
                        }
                    }
                });
            })
        }

        function refreshAccountList() {
            apiFetch('/account/list').then((result) => {
                setInnerHTML(document.querySelector('.account-list-container'), result.data.html);
                addAccountsListeners();
            })
        }
    </script>

{% endblock %}
