<form id="add_friend_form">
    <div class="form-group mb-3">
        <label for="add_friend_select">
            Sélectionnez les amis à ajouter
        </label>
        <select name="accounts[]" id="add_friend_select" class="form-select form-control" data-searchable multiple required>
            {% for otherAccount in account.friends %}
                <option value="{{ otherAccount.id }}">{{ otherAccount.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group mb-3">
        <button class="btn btn-primary" id="add_friend_button" type="submit">Créer la conversation</button>
    </div>
</form>

<script>
	(function () {
		const form = document.querySelector('#add_friend_form');
		initSelect2(form);

		form.addEventListener('submit', function (e) {
			e.preventDefault();
			let body = {
                accounts: $('#add_friend_select').val(),
            }

			apiFetch('{{ path('app_account_discussion_create_post') }}', body);
		});
    })();
</script>



