<div class="slot bg-dark rounded">
    <div class="aspect-ratio-slot">
        <div class="slot-content">
            <button id="edit-slot-1" class="edit-slot btn btn-sm btn-dark">
                <i class="fas fa-pen-to-square"></i>
            </button>
        </div>
    </div>
</div>
<div class="slot bg-dark rounded">
    <div class="aspect-ratio-slot">
        <div class="slot-content">
            <button id="edit-slot-2" class="edit-slot btn btn-sm btn-dark">
                <i class="fas fa-pen-to-square"></i>
            </button>
        </div>
    </div>
</div>
<div class="slot bg-dark rounded">
    <div class="aspect-ratio-slot">
        <div class="slot-content">
            <button id="edit-slot-3" class="edit-slot btn btn-sm btn-dark">
                <i class="fas fa-pen-to-square"></i>
            </button>
        </div>
    </div>
</div>
<div class="slot bg-dark rounded">
    <div class="aspect-ratio-slot">
        <div class="slot-content">
            <button id="edit-slot-4" class="edit-slot btn btn-sm btn-dark">
                <i class="fas fa-pen-to-square"></i>
            </button>
        </div>
    </div>
</div>