{% extends 'base.html.twig' %}

{% block title %}Vente | {{ defaultItem.name }}{% endblock %}

{% block body %}

<div class="container text-white">
    <div class="batch-container">
        {% include 'batch/content.html.twig' %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let max = {{ inventoryQuantity }};

		let initBatchSellListeners = () => {
            let options = document.querySelector('#quantity').options;
            for (let i = options.length - 1; i >= 0; i--) {
                if (options[i].value > max) {
                    options[i].remove();
                }
            }

			if (max === 0) {
				document.querySelector('#batchForm').remove();
                notif('Vous n\'avez pas d\'item à vendre', 'error');
			}

            $('#quantity').on('change', (e) => {
                if (e.target.value > max) {
                    let options = e.target.options;
                    for (let i = options.length - 1; i >= 0; i--) {
                        if (options[i].value <= max) {
                            e.target.value = options[i].value;
                            break;
                        }
                    }
                }
            });

            $('#batchForm').on('submit', async (e) => {
                e.preventDefault();
                let data = {
                    quantity: $('#quantity').val(),
                    price: $('#price').val(),
                }
                let url = '{{ path('app_sell_item_confirm', { 'uuid': defaultItem.uuid }) }}';

                let res = await apiFetch(url, data);
                if (res.success) {
                    notif('Vente enregistrée', 'success');
                    document.querySelector('.batch-container').innerHTML = res.data.html;
                    await refreshBalance();
                    max = res.data.quantity;
                    initBatchSellListeners();
                    initSelect2();
                }
            });
        }
        $(document).ready(() => {
	        initBatchSellListeners();
        });
    </script>
{% endblock %}
