:root {
    --primary-color: #FF4057;
    --background-color: #212529;
    --secondary-color: #A882DD;
    --text-color: #fff;
    --platinum-color: #D7DEDC;
    --tint-20-primary-color: #ffd9dd;
    --success-text: #4ea43c;

    --acordion-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF4057'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --acordion-icon-active: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body {
    font-family: 'Figtree', sans-serif !important;
}

.gold {
    color: gold;
}

.silver {
    color: silver;
}

.bronze {
    color: #cd7f32;
}

.item-description {
    font-size: 0.8rem;
}

.form-control {
    border-radius: 0 !important;
}

img {
    object-fit: contain;
}

.btn.btn-primary {
    background-color: var(--primary-color) !important;
    border: var(--primary-color) !important;
    border-radius: 3px !important;
}

.btn.btn-outline-primary {
    background-color: var(--text-color) !important;
    border: 1px solid var(--primary-color) !important;
    border-radius: 3px !important;
}

.btn.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.btn.btn-secondary {
    background-color: var(--secondary-color) !important;
    border: var(--secondary-color) !important;
    border-radius: 3px !important;
}

.btn-outline-secondary {
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-outline-secondary:hover {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.user-basket {
    cursor: pointer;
}

.accordion-button:not(.collapsed) {
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: var(--acordion-icon) !important;
}


.accordion-button:not(.collapsed)::after {
    background-image: var(--acordion-icon-active) !important;
    transform: rotate(180deg);
}

input[type="checkbox"], input[type="radio"], input[type="file"], input[type="range"] {
    accent-color: var(--primary-color) !important;
}

.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: var(--primary-color) !important;
    box-shadow: 0 0 0 1px var(--primary-color) !important;
}

select:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 1px var(--primary-color) !important;
}

select option:checked, select option:checked:focus {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.select2-selection {
    border-radius: 0 !important;
    padding: .375rem .75rem;
    height: auto !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
    width: 35px !important;
}

.select2-container--default{
    z-index: 10000;
}

.select2-selection[aria-expanded="true"] {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 1px var(--primary-color) !important;
}

.select2-results__option:hover, .select2-results__option:focus, .select2-results__option--highlighted {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.select2-selection__choice {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.select2-selection__choice__remove {
    color: var(--text-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.select2-selection__choice__remove:hover {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.select2-results .select2-disabled,  .select2-results__option[aria-disabled=true] {
    display: none;
}

.validate-item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 10px;
}

nav {
    color: var(--text-color);
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

.pagination .page-link {
    color: var(--primary-color) !important;
}

.pagination .page-link:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}
    
.text-sm {
    font-size: 0.875rem;
}


.hover-grow:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
}

.active-account {
    border: 7px solid var(--primary-color) !important;
    border-radius: 10px !important;
}

.pointer {
    cursor:pointer;
}

.list-group-item.active {
    background-color: var(--primary-color) !important;
    border-color: var(--text-color) !important;
}

.list-group-item {
    border-radius: 0 !important;
    background: rgba(var(--bs-dark-rgb)) !important;
    border: 1px solid var(--text-color) !important;
    color: var(--text-color) !important;
}

.card {
    color: black;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.effect-text {
    color: var(--success-text);
}

.discussion-container {
    position: fixed;
    bottom: -300px;
    left: 10px;
    width: 250px;
    height: 350px;
    background-color: var(--text-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding: 0 10px;
}

.discussion-container-title {
    display: flex;
    align-items: center;
    min-height: 50px;
    cursor: pointer;
}

.discussion-container.show {
    transform: translateY(-300px);
}

.discussion-add {
    cursor: pointer;
}