{% extends 'base.html.twig' %}

{% block title %}Encyclopédie{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">
            Bienvenue sur l'encyclopédie
        </h1>
    </div>
{% endblock %}
