{% if batchs is not empty %}
    <table class="table table-bordered table-striped border-primary">
        <thead>
            <tr>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for quantity, batchArr in batchs %}
                {% if batchArr is not empty %}
                    {% set batch = batchArr[0] %}
                    <tr>
                        <td>{{ quantity }}</td>
                        <td>{{ batch.price | itemPrice | raw }}</td>
                        <td>
                            <button class="btn btn-primary" onclick="buyBatch({{ batch.id }})">
                                <i class="fas fa-basket-shopping"></i>
                                Acheter
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        Aucun lot de joueur disponible pour le moment.
    </div>
{% endif %}


