{% set showDefaultButtons = showDefaultButtons ?? false %}
{% set confirmText = confirmText ?? 'Confirmer' %}
{% set id = id ?? 'modal' %}
{% set title = title ?? 'Modal title' %}

<!-- Modal -->
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            {% if showDefaultButtons %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">{{ confirmText }}</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>