<div class="sidebar-mask"></div>
<div class="sidebar text-white">
    <div class="title"></div>

    <div class="loader">
        <div class="d-flex justify-content-center align-items-center flex-column">
            {% include '/parts/loader.html.twig' %}
            <div>Chargement en cours...</div>
        </div>
    </div>
    <div class="content"></div>
    <button class="btn btn-primary button"></button>
</div>