{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}

<div class="container text-white pb-4">
    <h1 class="text-center mt-4">Conditions d'utilisation</h1>

    <div class="row">
        <div class="col-md-8 offset-md-2 my-4">
            <h3 class="mt-4 mb-2">1. Acceptation des conditions d'utilisation</h3>
            <p>En utilisant notre site web, vous acceptez de vous conformer à ces conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser ce site.</p>

            <h3 class="mt-4 mb-2">2. Propriété intellectuelle</h3>
            <p>
                Le code source de ce site est notre propriété intellectuelle. Vous n'êtes pas autorisé à le copier ou à le reproduire.
                Si vous souhaitez utiliser le code source de ce site, veuillez nous contacter à l'adresse suivante : <a href="mailto:arthur.lecompte14@gmail.com">arthur.lecompte14@gmail.com</a>.
            </p>

            <h3 class="mt-4 mb-2">3. Responsabilité</h3>
            <p>Nous nous efforçons de maintenir les informations présentes sur ce site à jour et exactes. Cependant, nous ne garantissons pas l'exactitude, l'exhaustivité ou la pertinence des informations fournies. L'utilisation de ce site est à vos propres risques.</p>

            <h3 class="mt-4 mb-2">4. Liens vers des sites tiers</h3>
            <p>
                Tout lien externe vous étant envoyé de la part d'un autre utilisateur est à votre propre risque. Nous ne sommes pas responsables de l'examen ou de l'évaluation du contenu ou de l'exactitude des sites tiers.
            </p>

            <h3 class="mt-4 mb-2">5. Modifications des conditions d'utilisation</h3>
            <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur ce site. Nous vous encourageons à consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</p>

            <h3 class="mt-4 mb-2">6. Contact</h3>
            <p>Si vous avez des questions ou des préoccupations concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse suivante : <a href="mailto:arthur.lecompte14@gmail.com">arthur.lecompte14@gmail.com</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
