{% extends '/base.html.twig' %}

{% block title %}ItemBay - Shop{% endblock %}

{% block body %}
    <div class="row text-white mt-5 mx-2">
        <div class="col-md-2">
            {% include 'filter/item_list_filters.html.twig' %}
        </div>
        <div class="col-md-9">
            <ul class="d-flex flex-wrap gap-5 text-black">
                <h2 class="text-white w-100">
                    Liste des objets
                </h2>
                {% if items | length > 0 %}
                    {% for item in items %}
                        {% include '/item/list_item.html.twig' with {
                            'item': item,
                        } %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info w-100" role="alert">
                        Aucun résultat
                    </div>
                {% endif %}
            </ul>

            {% if topSelledItems | length > 0 %}
                <ul class="d-flex flex-wrap gap-5 mt-5">
                    {% include 'item/parts/top_sells.html.twig' %}
                </ul>
            {% endif %}

            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(items) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
		$(document).ready(function () {
			$('#itemTypeSelect').val({{ filters.selectedItemTypes|json_encode|raw }}).trigger('change');

			document.querySelectorAll('[name="itemNature[]"]').forEach(function (checkbox) {
				checkbox.addEventListener('change', function (event) {
					let checked = document.querySelectorAll('[name="itemNature[]"]:checked');
					let count = document.querySelector('.natureCount');
					if (checked.length === 0) {
						count.innerHTML = '';
					} else {
						count.innerHTML = '(' + checked.length + ')';
						resetItemTypes();
					}
					$('#itemTypeSelect').val(null).trigger('change');
				});
			});

			$('#itemTypeSelect').on('change', function (e) {
				let count = document.querySelector('.typeCount');
				let value = e.target.selectedOptions.length;
				if (value === 0) {
					count.innerHTML = '';
				} else {
					count.innerHTML = '(' + e.target.selectedOptions.length + ')';
				}

			});
			resetItemTypes();
		});

		function resetItemTypes() {
			$('#itemTypeSelect option').prop('disabled', false);
			let allOptionsToHide = [];
			if (document.querySelectorAll('[name="itemNature[]"]:checked').length === 0) {
				return;
			}
			document.querySelectorAll('[name="itemNature[]"]:not(:checked)').forEach((ch) => {
				let value = ch.value;
				let options = document.querySelectorAll('#itemTypeSelect option[data-nature="' + value + '"]');
				options.forEach(function (option) {
					allOptionsToHide.push(option);
				});
			})
			allOptionsToHide.forEach(function (option) {
				option.disabled = true;
			});
		}
    </script>
{% endblock %}