{% extends '/base.html.twig' %}

{% block title %}ItemBay - Shop{% endblock %}

{% block body %}
    <style>
        .tooltip-inner {
            max-width: 500px; /* set this to your maximum fitting width */
            width: inherit; /* will take up least amount of space */
        }
    </style>
    <div class="row text-white mt-5 mx-2">
        <div class="col-md-2">
            {% include 'filter/item_list_filters.html.twig' %}
        </div>
        <div class="col-md-9">
            <ul class="d-flex flex-wrap gap-5 text-black">
                <h2 class="text-white w-100">
                    {% if context is defined and context in ['encyclopediaItemsList'] %}
                        Encyclopédie des objets
                    {% else %}
                        Magasin des objets
                    {% endif %}
                </h2>
                {% if items | length > 0 %}
                    {% for item in items %}
                        {% include '/item/list_item.html.twig' with {
                            'item': item,
                        } %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info w-100" role="alert">
                        Aucun résultat
                    </div>
                {% endif %}
            </ul>

            {% if topSelledItems is defined and topSelledItems | length > 0 %}
                <ul class="d-flex flex-wrap gap-5 mt-5">
                    {% include 'item/parts/top_sells.html.twig' %}
                </ul>
            {% endif %}

            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(items) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
		$(document).ready(function () {
			loadSelectFilters();
		});
    </script>
{% endblock %}