{% extends '/base.html.twig' %}

{% block title %}Laisser un avis{% endblock %}

{% block body %}

<form action="">
    <!-- Fais 5 etoiles que l'on peut cocher -->
    <div class="rating">
        <i class="fa-regular fa-star gold"></i>
    </div>
</form>

{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script></script>

{% endblock %}