{% extends '/base.html.twig' %}

{% block title %}Laisser un avis{% endblock %}

{% block body %}

<form action="" class="p-4">
    <input type="hidden" name="rating" value="5">
    {% include '/common/rating.html.twig' %}
</form>

{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let rating_stars = document.querySelectorAll('.rating i');
            console.log(rating_stars);
            let rating_input = document.querySelector('input[name="rating"]');

            rating_stars.forEach((star) => {
                star.addEventListener('click', (e) => {
                    let value = star.dataset.value;
                    rating_input.value = value;
                    rating_stars.forEach((star) => {
                        star.classList.remove('fa-solid');
                        star.classList.add('fa-regular');
                    });
                    for(let i = 0; i <= value; i++){
                        rating_stars[i].classList.remove('fa-regular');
                        rating_stars[i].classList.add('fa-solid');
                    }
                });
            });
        })

    </script>

{% endblock %}